<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="128"
    android:versionName="2.18.0"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.scrumpass.istqb.foundation"
    platformBuildVersionCode="34"
    platformBuildVersionName="14"
    requiredSplitTypes="base__abi,base__density"
    splitTypes="">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="33" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="com.android.vending.BILLING" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <queries>

        <intent>

            <action
                android:name="android.intent.action.VIEW" />

            <data
                android:scheme="https" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.VIEW" />

            <data
                android:scheme="http" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.DIAL" />

            <data
                android:scheme="tel" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.SENDTO" />

            <data
                android:scheme="smsto" />
        </intent>

        <intent>

            <action
                android:name="android.intent.action.SEND" />

            <data
                android:mimeType="*/*" />
        </intent>

        <intent>

            <action
                android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission
        android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <permission
        android:name="com.scrumpass.istqb.foundation.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="0x2" />

    <uses-permission
        android:name="com.scrumpass.istqb.foundation.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:label="ISTQB Exam Simulator"
        android:icon="@ref/0x7f0b0001"
        android:name="androidx.multidex.MultiDexApplication"
        android:extractNativeLibs="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:isSplitRequired="true">

        <activity
            android:theme="@ref/0x7f0e00a1"
            android:name="com.scrumpass.psm.psm_app.MainActivity"
            android:exported="true"
            android:launchMode="1"
            android:configChanges="0x40003fb4"
            android:windowSoftInputMode="0x10"
            android:hardwareAccelerated="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@ref/0x7f0e00a2" />

            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@ref/0x7f06007b" />

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">

            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.crashlytics.FlutterFirebaseAppRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.firestore.FlutterFirebaseFirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.performance.FlutterFirebaseAppRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.analytics.FlutterFirebaseAppRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:io.flutter.plugins.firebase.core.FlutterFirebaseCoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false" />

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />

                <action
                    android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <action
                    android:name="android.intent.action.QUICKBOOT_POWERON" />

                <action
                    android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:theme="@ref/0x1030007"
            android:name="io.flutter.plugins.urllauncher.WebViewActivity"
            android:exported="false" />

        <provider
            android:name="dev.fluttercommunity.plus.share.ShareFileProvider"
            android:exported="false"
            android:authorities="com.scrumpass.istqb.foundation.flutter.share_provider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f100000" />
        </provider>

        <receiver
            android:name="dev.fluttercommunity.plus.share.SharePlusPendingIntent"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="EXTRA_CHOSEN_COMPONENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.amazon.device.iap.ResponseReceiver"
            android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">

            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>

        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />

        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />

        <activity
            android:theme="@ref/0x1030010"
            android:name="com.revenuecat.purchases.amazon.purchasing.ProxyAmazonBillingActivity"
            android:configChanges="0x5b0" />

        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="5.2.1" />

        <activity
            android:theme="@ref/0x1030010"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="0x5b0" />

        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.scrumpass.istqb.foundation.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:theme="@ref/0x1030010"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f080004" />

        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:exported="false"
            android:authorities="com.scrumpass.istqb.foundation.SentryPerformanceProvider"
            android:initOrder="200" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.scrumpass.istqb.foundation.androidx-startup">

            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
        </provider>

        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true" />

        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store" />

        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK" />

        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@ref/0x7f100001" />

        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="31" />
    </application>
</manifest>
